---
import Layout from "../layouts/Layout.astro";
import Designs from "../components/Designs.astro";
---

<Layout title="Grupo Visual">
  <main class="w-full min-h-screen flex">
    <div
      class="w-full bg-back relative pl-4 sm:pl-8 md:pl-12 lg:pl-16 xl:pl-20"
    >
      <h3 class="text-white italic text-3xl w-64 max-w-[80%] mt-52 z-20">
        Estude com a gente e saia na frente!
      </h3>
      <div
        class="h-20 w-10/12 bg-secondary pl-8 py-2 absolute top-0 left-0"
        aria-hidden
      >
        <img
          alt="Logo de Grupo Visual cor branca"
          src="/images/grupo_visual_logo.webp"
          class="max-h-full"
        />
      </div>

      <img
        alt="Mulher com uma notebook"
        src="/images/woman_with_laptop.webp"
        class="absolute bottom-0 right-0 max-h-[90%] z-10"
      />

      <Designs />
    </div>
    <div class="w-full"></div>
  </main>
</Layout>
