---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Somos uma instituição de cursos profissionalizantes reconhecida pela credibilidade e compromisso com a formação profissional dos seus estudantes. Com uma vasta experiência na área de treinamentos e nos mais variados cursos profissionalizantes."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
